:root {
  --bg-gradient: radial-gradient(
    circle at 30% 50%,
    rgba(47, 21, 111, 1) 0%,
    rgba(10, 6, 27, 1) 100%
  );

  --button-gradient: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );

  --color-primary-yellow: #ffc727;
  --color-primary-purple: #734aef;
  --color-secondary-lavender: #c5baff;
  
  --color-text-white: #fbfbfb;
  --color-text-input: rgba(255, 255, 255, 0.6);
  
  --color-accent-red: #ff6596;
  --color-success-green: #24cca7;
  
  --color-background-dark: #0a061b;
  --color-background-purple: #2f156f;

  --font-family-primary: 'Poppins', sans-serif;
  --font-family-secondary: 'Roboto', sans-serif;

  --transition: all 0.3s ease;
  --scale: scale(1.1);
}