.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: var(--bg-gradient);
}

.title {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 30px;
  color: var(--color-text-white);
}

.formSection {
  width: 100%;
  max-width: 533px;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    gap: 100px;
    padding: 40px;
  }

  .logoSection {
    margin-bottom: 0;
  }

  .logo svg {
    width: 40px;
    height: 40px;
  }
}