.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
   background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), /* yarı saydam katman */
    url('../../assets/images/bg-login.jpg') no-repeat center center;
  background-size: cover;
}

.logoSection {
  margin-bottom: 60px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logo svg {
  width: 36px;
  height: 36px;
}


.title {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 30px;
  color: var(--color-text-white);
}

.formSection {
  width: 100%;
  max-width: 533px;
  
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    gap: 100px;
    padding: 40px;
  }

  .logoSection {
    margin-bottom: 0;
  }

  .logo svg {
    width: 40px;
    height: 40px; 
  }
  
}