.currencyWrapper {
  max-width: 320px;
  color: #fbfbfb;
  background: rgba(82, 59, 126, 0.6);
  backdrop-filter: blur(50px);
  border-radius: 8px;
  padding: 20px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.currencyTable {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currencyTableHead {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 48px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  border-radius: 8px;
}

.currencyItem {
  flex: 1;
  text-align: center;
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.currencyTr {
  display: flex;
  justify-content: space-evenly;
  gap: 55px;
  font-size: 16px;
  list-style: none;
}

.currency {
  margin: 0;
  flex: 1;
  text-align: center;
}

img {
  width: 100%;
  display: block;
}

.diagram {
  position: relative;
}

.lowerNumber {
  position: absolute;
  top: 10px;
  left: 40px;
  color: #6E78E8;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  z-index: 2;
}

.higherNumber {
  position: absolute;
  top: -18px;
  right: 92px;
  color: #6E78E8;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  z-index: 2;
}

.loading {
  padding: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--font-family-secondary);
}

@media screen and (min-width: 768px) {
  .currencyWrapper {
    max-width: 336px;
  }

  .currencyTableHead {
    justify-content: center;
    gap: 35px;
  }

  .currencyItem:nth-child(3) {
    margin-left: 15px;
  }

  .currencyTr {
    gap: 65px;
    justify-content: space-around;
  }

  img {
    height: 88px;
  }
}

@media screen and (min-width: 1280px) {
  .currencyWrapper {
    max-width: 480px;
    height: auto;
  }

  .currencyTable {
    max-width: 480px;
  }

  .currencyTableHead {
    height: 56px;
    margin-bottom: 24px;
    padding-left: 95px;
    justify-content: flex-start;
  }

  .tableBody {
    margin-bottom: 15px;
    padding: 0 20px;
  }

  .currencyTr {
    padding: 0;
    margin-bottom: 14px;
  }

  img {
    width: 100%;
    height: auto;
  }
}